@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using MyProject.Models
@model User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<!-- Thêm các thư viện Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}


<form asp-controller="Home" asp-action="CreateAccount" method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2 class="text-center">Create Account</h2>

                <div class="form-group">
                    <label for="txtUsername">Username:</label>
                    <input type="text" class="form-control" asp-for="Username">
                </div>
                <div class="form-group">
                    <label for="txtPassword">Password:</label>
                    <input type="password" class="form-control" asp-for="Password">
                </div>
                <div class="form-group">
                    <label for="txtUsername">Email:</label>
                    <input type="text" class="form-control" asp-for="Email">
                </div>
                <div class="form-group">
                    <label for="txtUsername">FullName:</label>
                    <input type="text" class="form-control" asp-for="FullName">
                </div>
                <div class="form-group">
                    <label for="txtUsername">Gender:</label>
                    <input type="radio" @*class="form-control"*@ asp-for="Gender" name="gender" value="Male"> Male
                    <input type="radio" @*class="form-control"*@ asp-for="Gender" name="gender" value="Female"> Female
                </div>
                <div class="form-group">
                    <label for="txtUsername">Date of birth:</label>
                    <input type="datetime" class="form-control" asp-for="DateOfBirth">
                </div>
                <div class="form-group">
                    <label for="txtUsername">Phone Number:</label>
                    <input type="text" class="form-control" asp-for="Phone">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Create Account</button>

                @*<p class="text-center"><a asp-controller="Home" asp-action="CreateAccount">Create Account</a></p>*@
            </div>
        </div>
    </div>


</form>